[submodule "frontend"]
	path = frontend
	url = https://github.com/shubhamdarge/employee-portal-frontend
[submodule "backend"]
	path = backend
	url = https://github.com/shubhamdarge/employee-portal-backend
